body {
    background-color: gray;
}

div {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(60, 167, 60);
    box-shadow: 10px 10px 3px rgb(128, 0, 0);
    position: relative;
    top:20px;
    left:40px;
}    

p {
    position: absolute;
    top: 16px;
    left:55px;
    font: 22px Georgia, 'Times New Roman', Times, serif;
    word-spacing: 10px;
}

