div {
    border-top: 5px solid black;
    height: 35px;
    background: linear-gradient(to top ,gray , white); 
}


span {
    display: block;
    position: relative;
    left:250px;
    text-transform: uppercase;
    padding: 5px 10px;
    float: left;
}

span::before {
    content: '';
    position: absolute;
    border: 2px solid rgb(47, 165, 233);
    transition: all 0.5s;
    opacity: 0;
    top:-4px;
    width: 0%;
}

span:hover::before {
    opacity: 1;
    width: 100%;
}

span:hover {
    color:  rgb(47, 165, 233);
}