
body {
    font-family: Arial, sans-serif; 
}

.content {
    width: 850px;
    background-color: #f2f5f9;
    border-top: 1px solid #d9e1ec;
    border-bottom: 1px solid #d9e1ec;
    position: relative;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.div_1 {
    display: flex;
    align-items: center;
    flex: 1;
    color: #779bca;
} 

.div_2, .no_hover {
    flex: 6;
} 

.div_1, .div_2{
    border-bottom: 2px solid #feba02;
    padding: 10px;
}
.no_hover {
    padding-top: 10px;
    border-bottom: 2px solid #feba02;
}

.div_3 {
    padding-bottom: 10px;
    border: 1px solid #f2f5f9;
}

.div_2:hover, .div_3:hover {
    background-color: rgb(8, 185, 8);
    border: 1px solid rgb(12, 83, 12); 
}

.footer {
   position: absolute;
   right: 0;
   bottom: -30px;
}

