.box, .header, nav, .content {
    display: flex;
}

.box, .content {
    justify-content: space-between;  
}

nav, aside, .footer {
    color: white;
}


.box {
    flex-direction: column;
    width: 1000px;
    align-content: space-between;
    text-align: center;  
}

.header {
    justify-content: flex-end;
    align-items: flex-end;
    background-color:#1c6d5d;
    height: 200px;
    flex-wrap: wrap;
}

#logo {
    background-color: yellow;
    flex: 0 0 200px ;
    height: 140px;
    margin-right: 10px;
}

nav {
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(25, 15, 82);
    width: 100%;    
}

.content {
    margin: 10px;
    height: 60px;
}

article {
    background-color: turquoise;
}

.a1 {
    width: 49%;
}

.a2 {
    width: 32.5%;
}

aside {
    flex: 0 1 200px;
    min-width: 100px;
    background-color: rgb(180, 33, 180);
   }

main {
    flex: 1 0 570px;
}

.footer {
    height: 150px;
    background-color:#165548;    
}


