.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
    align-content: space-between;
    text-align: center;  
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color:#1c6d5d;
    height: 200px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#logo {
    background-color: yellow;
    flex: 0 0 200px ;
    height: 140px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(25, 15, 82);
    color: white;
    width: 100%;
    
}

.content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 60px;
}


article {
    background-color: turquoise;
}

.a1 {
    width: 49%;
}

.a2 {
    width: 32.5%;
}

aside {
    flex: 0 1 200px;
    min-width: 100px;
    background-color: violet;

}

main {
    flex: 1 0 570px;
}



.footer {
    display: flex;
    justify-content: center;
    color:white;
    height: 150px;
    background-color:#165548;    
}


