*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    padding: 20px 20px;
    font: 36px Arial, sans-serif;
    
    color: white;
}

    .container {
        max-width: 1000px;
        min-height: calc(100vh - 40px);
        margin: 0 auto;
        display: grid;
        grid-template: 1fr 6fr 1fr / 5fr 1fr; 
        grid-gap: 10px;
    }

        .header {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 3;
            /* grid-area: 1 / 1 / 1 / 3; */
            background-color: rgb(99, 248, 144);  
        }

        .menu {
            grid-row-start: 2;
            grid-column-start: 2;
            /* grid-area: 2 / 2 ; */
            background-color: rgb(230, 191, 87);
        }

        .content {
            grid-row-start: 2;
            grid-column-start: 1;
            /* grid-area: 2 / 1;  */
            background-color: aqua;
        }

        .footer {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            /* grid-area: 3 / 1 / 3 / 3; */
            background-color: rgb(221, 126, 245);
        }

        .header, .menu, .content, .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.3em;
        }