.container {
    /* margin: 0 auto; */
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-number {
    display: flex;
    padding: 20px 0;
} 

.counter {
    font-size: 48px;
    font-weight: 700;
    color: brown;

}