@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Raleway:ital@0;1&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: "Post No Bills Jaffna"; 
    src: url(fonts/PostNoBillsJaffna.ttf);
   }

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* общие стили */
body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    background: #E5E5E5;
}

    .container {
        max-width: 1920px;
        min-height: 100vh;
        margin: 0 auto;
        background-color: #242B33;
    }

    .wrapper {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
       }

    a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    .input_name,
    .input_tel {
        background: rgba(255, 255, 255, 0.2);
        text-align: center;
        min-width: 255px;
        color: #ffffff;
        font-size: 18px;
        height: 50px;
    }

    .input_name::placeholder,
    .input_tel::placeholder {
        font-size: 14px;
        line-height: 27px;
        color: #bebebe;
        padding: 12px;
    }

    button {
        background: #d4c17f;
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        padding: 12px;
    }

    h1, h3 {
        font-family: Playfair Display;
        font-weight: bold;
        color: #D4C17F;
    }

    h1 {
        font-size: 48px;
        line-height: 64px;
        text-align: center; 
        padding-bottom: 20px;   
    }         

 
    h3 {
        font-size: 36px;
        line-height: 48px;
    } 

/* стили first_screen */

.first_screen {
    background: url(image/Rectangle.png) no-repeat;
    background-size: cover; 
    min-height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .first_screen .menu {
        max-width: 1920px;
        width: 100%;
        padding: 0 20px;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: .2s linear;
    }

    .menu_active {
        background-color: #242b33;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    }
        
        .menu .header_menu {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;   
        }

            .header_menu .header_menu_logo {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                line-height: 14px;
                padding-right: 20px;  
            }

                .header_menu_logo div:first-child {
                    font-family: "Post No Bills Jaffna";
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 54px;
                }

                .header_menu_logo div:last-child {
                    letter-spacing: 0.12em;
                }

            .header_nav .header_nav_list {
                display: flex;
                list-style-type: none;
            }

                .header_nav_list a {
                    display: block;
                    padding: 25px 20px;
                    line-height: 16px;
                    letter-spacing: 0.05em;
                    max-width: 200px;
                }

                .header_nav_list a:hover {
                    opacity: 0.9;
                    background-color: rgba(255, 255, 255, 0.04);
                }

        .first_screen .header_title {
            display: flex;
            max-width: 556px;
            width: 100%;
            /* height: 250px;   */
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            padding-top: 276px;
        }

            .header_title img {
                padding-top: 100px;
            }
               
        .first_screen .header_contacts {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 74px;
        }

            .header_contacts_adress a, 
            .header_contacts_phone a{
                display: flex;
                align-items: center;
            }

            .header_contacts_text {
                padding-left: 14px;
            }

/* стили content*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .content .character { 
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% repeat(2, 18%) 16%;
        gap: 39px;
        padding: 120px 0;
    }

        .character .character_data {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .character_data .character_text {
                font-family: Roboto;
                font-weight: 300;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                padding-top: 53px;   
            }

    .content .appatments {
        width: 100%;
        display: grid;
        grid-template: 1fr repeat(2, 320px) / repeat(2, 1fr);
        gap: 30px;
        font-size: 24px;
    }

        .appatments .flat_name {
            grid-area: 1 / 1 / 2 / 3;
            padding-bottom: 70px;
        }

        .appatments .flat_first {
            background: linear-gradient(
                180deg, 
                rgba(36, 43, 51, 0) 0%, 
                #242B33 100%
                ), 
            url(image/flat_1.jpg), #D4C17F;
        }

        .appatments .flat_second {
            background: linear-gradient(
                180deg, 
                #242B33 0%, rgba(36, 43, 51, 0) 0.01%, 
                #242B33 100%
                ), 
            url(image/flat_2.jpg), #D4C17F;
        }

        .appatments .flat_third {
            background: linear-gradient(180deg, 
                rgba(36, 43, 51, 0) 0%, 
                #242B33 100%
                ), 
           url(image/flat_3.jpg), #D4C17F;
        }

        .appatments .flat_fourth {
            background: linear-gradient(180deg, 
                #242B33 0%, rgba(36, 43, 51, 0) 0.01%, 
                #242B33 100%
                ), 
            url(image/flat_4.jpg), #D4C17F;
        }

        .appatments div:not(:first-child){
            display: flex;
            align-items: flex-end;
            padding: 50px;   
        }

/* стили contact  */
.contact {
    background: url(image/contact_background.jpg) no-repeat;
    background-size: cover; 
}

    .contact .contact_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 180px 0;
    }
        
        .contact_box_text h3 {
            padding-bottom: 50px;
        }

        .contact_box_text .contact_text {
            font-size: 16px;
            line-height: 24px;
        }

        .contact_box .contact_box_form form { 
            display: grid;
            grid-template: repeat(2, 50px) / repeat(2, 1fr);
            row-gap: 35px;
            column-gap: 30px;
            padding: 65px 0 0 35px;
        }

        form .form_text {
            font-size: 13px;
            line-height: 16px;
            text-align: center;        
            color: #E7E7E7;
        }

/* стили video */

.video .video_wrapper {
    max-width: 719px;
    margin: 0 auto;
    position: relative;
    }

    .video_button { /* и вот что дальше с этой кнопкой делать, я пока не знаю */
        position: absolute;
        z-index: 2;
        top: 275px;
        left: 310px;
    }
 
/* стили maps*/

.maps_box {
    display: flex;
    flex-direction: column;
    padding: 180px 0;
}

    .maps_box h3 {
        padding-bottom: 100px;
    }

    .maps_box .maps_wrapper {
        width: 100%;
        position: relative;    
    }

        .maps_wrapper .maps_item {
            padding-top: 32.25%;
        }

        .maps_wrapper .maps_element {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }    
        
     
/* стили question */

.question_box {
    padding-bottom: 180px;
}

    .question_box h3 {
        padding-bottom: 50px;
    }

    .question_box .question_box_form form { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        align-items: center;
    }

/* стили footer */

.footer{
    background: #2D343C;
    max-width: 100%;
}
    
    .footer .footer_menu {
        display: grid;
        grid-template-columns: repeat(3, 1.6fr) 2.6fr;
        column-gap: 115px;
        padding: 60px 0 51px ;
    }

    .footer_menu .footer_menu_logo {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        line-height: 14px;
        padding-right: 20px;  
    }

        .footer_menu_logo div:first-child {
            font-family: "Post No Bills Jaffna";
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
        }

        .footer_menu_logo div:last-child {
            letter-spacing: 0.12em;
        }
        
    .footer_menu .footer_nav .footer_nav_list {
            list-style-type: none;
        }

        .footer_nav_list a {
            display: block;
            padding: 7.5px 20px;
            line-height: 16px;
            letter-spacing: 0.05em;
        }

        .footer_nav_list:last-child li a {
            padding-right: 0;
        }

            .footer_nav_list a:hover {
                opacity: 0.9;
                background-color: rgba(255, 255, 255, 0.04);
            }

            .footer_email {
                color: #D4C17F;
                font-weight: 700;
            }  
            
        .footer_nav_list li:last-child{
            display: flex;
        }
            
            .footer_nav_list li:last-child a{
                padding: 12.5px 0 0 20px; 
            }

    .footer .footer_sub { 
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
        font-size: 16px;
        }

        .footer_sub a {
            padding: 0 20px;
            color: #D4C17F;
            font-weight: 700;
        }

    .footer hr{
        background-color:  #1f252c;;
        height: 2px;
        border: 0;
    }  
    

/* медиа     */
@media screen and (max-width: 1140px) {
    .footer_menu .footer_menu_logo {
        padding-left: 20px;
        padding-right: 0;
    }

    .footer_nav .footer_nav_list {
        padding-right: 20px;
    }
}

@media screen and (max-width: 995px) {

    .contact .contact_box {
        flex-direction: column;
    }

    .question_box .question_box_form form { 
        grid-template-rows: repeat(4, 1fr) ;
        grid-template-columns: 1fr ;
        padding: 0 50px;
    }

    .footer .footer_menu {
        grid-template: repeat(3, 1fr) / 1.6fr 2.6fr;
        column-gap: 0;
        row-gap: 20px;
    }

    .footer_menu .footer_menu_logo {
        grid-area: 1 / 1 / 4 / 2; 
    }

}   


