*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 20px;
}

    .box {
        max-width: 1600px;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
}

        header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: #095c5c;
            background: url(1420.jpg) no-repeat 100%;
            background-size: cover; 
            flex: 0 0 200px;
        }

            nav {
                align-items: center;
                background: rgb(25, 15, 82);
                color: white;
                width: 100%;
                flex: 0 0 40px;
            }

        /* .main {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            margin: 10px 5px;
        }

            .art {
                display: flex;
                justify-content: space-between;
                flex: 1 1 100px;
            }
                .a1 { width: calc((100% - 20px) / 2); }
                
                .a2 { width: calc((100% - 40px) / 3); }
                
                .a1, .a2 {
                    background: aqua;
                    display: flex;
                    justify-content: center;
                }

            .content {
                max-width: 1000px;
                display: flex;
                justify-content: space-between;
                flex: 2 1 100px;
                padding: 20px 0;
            }

                aside, main {
                    display: flex;
                    justify-content: center;
                }
                aside {
                    flex: 1 0 100px;
                    background: rgb(138, 36, 138);
                    color: white;
                }

                main {
                    flex: 2 1 200px;
                    margin: 0 20px;
                }*/

        footer {
            display: flex;
            justify-content: center;
            padding: 15px;
            background-color: #095c5c;
            flex: 0 0 150px;
            color: white;
        } 