#form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
}

label {
  font-weight: bold;
  line-height: 22px;
  padding: 20px 0;
  color: #2A2241;
}

#email, 
#password {
  font-weight: normal;
  line-height: 150%;
  color: #2A2241;
  opacity: 0.5;
  padding: 15px;
}

.button {
  background: #2A2241;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 250px;
  height: 64px;
  margin: 30px auto;
}