.kont {
    width: 700px;
}

.td_img {
    width: 15px;
    height: 70px;
}

.karta {
    width: 60%;
}

input, textarea {
    border-radius: 3px; 
    font-size: 14px; 
    font-family: Tahoma;
    display: block;
}

input {
    height: 18px;
}

.input::first-letter {
    text-transform: uppercase;
}

input, textarea {
    color: rgb(54, 0, 153); 
}

input:hover, textarea:hover {
    background-color: rgb(161, 224, 224);
} 

