html {
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }
    
    body {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    min-height: 100vh;
    width: 100vw;
    }
    
    .container {
    max-width: 100vw;
    width: 1920px;
    margin: 0 auto;
    }
    
    .wrapper {
    max-width: 1420px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    }
    
    
    
    .header .header-block-top {
    background: #000000;
    padding: 0 20px;
    }
    
    .header .header-top,
    .header-sub-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
    .header-top .header-contacs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 0;
    color: #969696;
    }
    
    .header-contacs .tel {
    text-decoration: none;
    color: #969696;
    }
    
    .header-reg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px;
    text-decoration: none;
    }
    
    .header-reg .enter,
    .registr {
    display: flex;
    text-decoration: none;
    color: #969696;
    }
    
    .tel:hover,
    .enter:hover,
    .registr:hover {
    opacity: 0.7;
    }
    
    .header-contacs .tel .tel-ico {
    margin-right: 10px;
    }
    
    .header-reg .enter .reg-ico {
    margin-right: 10px;
    }
    
    .header .header-sub-block-top {
    background: #0f0f0f;
    padding: 0 20px;
    }
    
    .header-sub-top .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 27px 0;
    }
    
    .header-sub-top .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
    .header-sub-top .header-list {
    display: flex;
    text-decoration: none;
    color: #969696;
    }
    
    .header-sub-top .header-list .header-item .header-link {
    display: flex;
    text-decoration: none;
    color: #969696;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 31px 40px;
    }
    
    .header-sub-top .header-list .header-item .header-link:hover {
    background-color: #1f1f1f;
    color: white;
    }
    
    .header-nav .basket,
    .glass {
    padding: 31px 20px;
    }
    
    .basket:hover,
    .glass:hover {
    background-color: #1f1f1f;
    }
    
    .header .header-info {
    background: url(../img/blazer.jpg) no-repeat top center #000;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    }
    
    .header-info-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    border: 4px solid #ffffff;
    width: 100%;
    max-width: 320px;
    height: 320px;
    }
    
    .header-info-title h1 {
    font-weight: normal;
    font-size: 64px;
    line-height: 86px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 4px;
    }
    
    .header-info-title h3 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    }
    
    .header-info-text {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 154px;
    max-width: 730px;
    }