
.calculator {
    max-width: 360px;
    min-height: 500px;
    background: #878787;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-container {
    display: grid;
    grid-template-rows: repeat(4fr);
    grid-template-columns: repeat(5fr);
}
